.fifth-highlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("./images/watch.jpg");
  background-color: #fbfbfd;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.fifth-highlight-wrapper .headline {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.002em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.fifth-highlight-wrapper .subhead {
  max-width: 196px;
  margin-right: auto;
  margin-left: auto;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.fifth-highlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("./images/promo_mbp__ek7p477bkp6q_small.jpg.jpg");
  color: white;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.fifth-highlight-wrapper .description-wrapper {
  max-width: 450px;
  margin: 7px auto;
  font-weight: 600;
}

@media (min-width: 768px) {
  .fifth-highlight-wrapper .left-side-wrapper .left-side-container {
    margin: 5px 5px 5px 10px;
  }
  .fifth-highlight-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 5px 5px;
  }
  .fifth-highlight-wrapper .headline {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
  .fifth-highlight-wrapper .right-side-container .subhead {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: 0.012em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
}
