.sixth-highlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("./images/promo_homepod__f7jnolq94m2y_small.jpg.jpg");
  color: white;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}

.sixth-highlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("./images/tile__cauwwcyyn9hy_small.jpg.jpg");
  color: black;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}

@media (min-width: 768px) {
  /*Sixth section*/
  .sixth-highlight-wrapper .left-side-wrapper .left-side-container {
    margin: 5px 5px 10px 10px;
  }
  .sixth-highlight-wrapper .right-side-wrapper .right-side-container {
    margin: 5px 10px 10px 5px;
  }
}
