
.second-highlight-wrapper {
	background-image: url("./images/hero_iphone14__fjmsqstr1ceq_small.jpg.jpg");
	height: 580px;
	background-position: bottom;
	background-repeat: no-repeat;
  background-size: auto;
  background-color: #fbfbfd;
	text-align: center;
	padding: 65px 20px;
	color:black;
	margin-bottom: 10px;	
}

.second-highlight-wrapper .headline {
    font-size: 32px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
   
	
}

.second-highlight-wrapper .subhead {
    font-size: 19px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin-top: 6px;
}


@media (min-width: 768px) {

	
	.second-highlight-wrapper {
		min-height: 600px;
		background-image: url("./images/download.jpg");
	}
	
	.second-highlight-wrapper .headline {
    font-size: 52px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
   
	
}

.second-highlight-wrapper .subhead {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    margin-top: 6px;
}

}
