

.third-highlight-wrapper {
  background-image: url("./images/bhm_hero__cbs0egyn86oi_large.jpg.jpg");
  height: 550px;  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
  padding: 50px 20px;
  color: #fff;
}
.third-highlight-wrapper .headline {
  max-width: 250px;
  font-size: 28px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.002em;
  margin-left: auto;
  margin-right: auto;

}

.third-highlight-wrapper .subhead {
  font-size: 18px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em; 
  margin-top: 10px;

}
@media (min-width: 768px){
.third-highlight-wrapper .headline {
  max-width: 100%;
  font-size: 42px;
 

}
.third-highlight-wrapper .subhead {
  max-width: 100%;
  font-size: 28px;
 

}

}
